@charset "utf-8";


.jarvis-ui .sample {position:relative; overflow:hidden; background: #7e7e7e}
.jarvis-ui .sample .sample-div {background: #ffffff; height:120px;}
.jarvis-ui .sample .default-btn { }


.jarvis-ui .samplea {position:relative; overflow:hidden; background: #7e7e7e}
.jarvis-ui .samplea .sample-div {background: #00ffff; height:20px;}
.jarvis-ui .samplea .default-btn { }





