/*******************************
   Icons
*******************************/
[class^="icon "], [class*=" icon "] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  display: inline-block;
  margin: 0 0.3em; }
  .icon:before {
    vertical-align: top;
    font-size: 1em; }
