/*******************************
   Import
*******************************/
/*******************************
   Path
*******************************/
/*******************************
   Fonts
*******************************/
/*******************************
   Border Radius
*******************************/
/*******************************
   Border
*******************************/
/*******************************
   Browser Prefixes
*******************************/
html,
body {
  max-height: 100%;
}

html,
body,
div,
span,
object,
iframe,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl, dt, dd,
ol, ul, li,
fieldset,
form,
label,
legend,
table, caption, tbody, tfoot, thead, tr, th, td,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.42857;
  font: inherit;
  color: #333;
  font-family: "Nanum Gothic";
  font-size: 12px;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

header,
footer,
main {
  display: block;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

fieldset,
img {
  border: 0 none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

em {
  font-style: normal;
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

.screen-out {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.transitioned {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/*******************************
   Import
*******************************/
/*******************************
   Buttons
*******************************/
.ui.button {
  display: inline-block;
  width: auto;
  position: relative;
  padding: .8em 1.1em;
  font-size: 0.75rem;
  vertical-align: middle;
  text-align: center;
  color: #333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  border-radius: 0.2857rem;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.ui.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ui.buttons {
  font-size: 0;
}

/*******************************
   Comments
*******************************/
.ui.comments {
  overflow: hidden;
  position: relative;
}
.ui.comments .comment .item {
  overflow: hidden;
  position: relative;
  padding-top: .75em;
}
.ui.comments .comment .item .avatar {
  position: absolute;
  left: 0;
  top: .75em;
  width: 35px;
  margin-right: 1em;
}
.ui.comments .comment .item .avatar img {
  width: 100%;
  border-radius: 0.2857rem;
}
.ui.comments .comment .item .content {
  padding-left: 45px;
  line-height: 1.33;
  letter-spacing: -1px;
  font-size: 0;
}
.ui.comments .comment .item .author {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
}
.ui.comments .comment .item .metadata {
  display: inline-block;
  margin-left: .5em;
  color: #333;
  letter-spacing: 0;
  font-size: 12px;
}
.ui.comments .comment .item .text {
  padding: .25em 0;
  word-wrap: break-word;
  font-size: 14px;
}
.ui.comments .form {
  overflow: hidden;
  position: relative;
  padding-right: 5.5em;
}
.ui.comments .form textarea {
  display: block;
  width: 100%;
  padding: .8em 1.1em;
  height: 3em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  color: #333;
  border: 0;
  vertical-align: top;
  -webkit-appearance: none;
  line-height: 1.2857;
  border-radius: 0.2857rem;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  resize: vertical;
}
.ui.comments .form .ui.button.write {
  position: absolute;
  right: 0;
  top: 0;
  width: 4em;
  height: 100%;
  padding: 0 1em;
  font-size: 14px;
}

/*******************************
   Accessibility
*******************************/
.accessibility {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  text-align: left;
}
.accessibility a {
  display: block;
  position: absolute;
  top: -1000px;
  left: 0;
  z-index: 500;
  width: 100%;
  text-align: center;
}
.accessibility a:focus, .accessibility a:active {
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 40px;
  background-color: #000;
  font: bold 12px dotum;
  color: #fff;
  line-height: 40px;
}

.container {
  overflow: hidden;
  position: relative;
  padding: .75em;
}
