/*******************************
   Dimd
*******************************/
.ui.dimd {
  /*
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:200px;
  height:200px;
  margin:auto;
  border:1px solid #000;
  border-radius:.2857rem;
  */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); }
