@import "http://fonts.googleapis.com/earlyaccess/nanumgothic.css";
html { -webkit-text-size-adjuct: none; -ms-text-size-adjuct: none; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button, select { margin: 0; padding: 0; border: 0; line-height: 1.42857; font: inherit; color: rgba(0, 0, 0, 0.85); font-family: "'Nanum Gothic'"; font-size: 12px; }

dl, ul, ol, menu, li { list-style: none; }

header, footer, main { display: block; }

table { border-collapse: collapse; }

a { text-decoration: none; }

fieldset, img { border: 0 none; }

button { border: 0 none; background-color: transparent; cursor: pointer; }

em { font-style: normal; }

input, select, textarea, button { vertical-align: middle; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

svg * { fill: inherit; stroke: inherit; all: inherit; }

.screen-out { position: absolute; left: 0; top: 0; visibility: hidden; width: 0; height: 0; line-height: 0; font-size: 0; color: transparent; }

@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?ka6nxc"); src: url("../fonts/icomoon.eot?#iefixka6nxc") format("embedded-opentype"), url("../fonts/icomoon.ttf?ka6nxc") format("truetype"), url("../fonts/icomoon.woff?ka6nxc") format("woff"), url("../fonts/icomoon.svg?ka6nxc#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon"], [class*=" icon"] { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon { display: inline-block; vertical-align: top; text-align: center; }
.icon:before { font-size: 0.75em; }

.icon.circle:before { content: "\e600"; }

.icon.minus:before { content: "\e601"; }

.icon.mute:before { content: "\e602"; }

.icon.pause:before { content: "\e603"; }

.icon.play:before { content: "\e604"; }

.icon.plus:before { content: "\e605"; }

.icon-icon-refresh:before { content: "\e606"; }

.icon.spinner:before { content: "\e607"; }

.icon.volume-step1:before { content: "\e608"; }

.icon.volume-step2:before { content: "\e609"; }

.icon.volume-step3:before { content: "\e60a"; }

.icon.write:before { content: "\e60b"; }

.ui.button { display: inline-block; width: auto; position: relative; padding: .8em 1.1em; font-size: 12px; vertical-align: middle; text-align: center; color: rgba(0, 0, 0, 0.85); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.85) inset; border-radius: 0.2857rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ui.button::-moz-focus-inner { border: 0; padding: 0; }

.ui.buttons { font-size: 0; }

.ui.input { display: inline-block; zoom: 1; *display: inline; width: auto; position: relative; padding: .8em 1.1em; font-size: 12px; vertical-align: middle; text-align: left; color: rgba(0, 0, 0, 0.85); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.85) inset; border-radius: 0.2857rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ui.input::-moz-focus-inner { border: 0; padding: 0; }

.ui.inputs { font-size: 0; }

.ui.table { width: 100%; background-color: #fff; border: 1px solid rgba(34, 36, 38, 0.15); text-align: left; color: rgba(0, 0, 0, 0.85); border-collapse: separate; border-spacing: 0; font-size: 12px; border-radius: 0.2857rem; }
.ui.table caption { padding: 0.833em; font-weight: 700; font-size: 1.333em; }
.ui.table thead th { padding: 0.833em; background-color: #f9fafb; font-size: 1.167em; font-weight: 700; border-bottom: 1px solid rgba(34, 36, 38, 0.15); }
.ui.table thead th:first-child { border-radius: 0.2857rem 0 0; }
.ui.table thead th:last-child { border-radius: 0 0.2857rem 0 0; }
.ui.table tbody tr td { padding: 0.833em; border-bottom: 1px solid rgba(34, 36, 38, 0.15); }
.ui.table tbody tr:last-child td { border-bottom: 0; }

.ui.paginations { width: 100%; text-align: center; font-size: 0; }
.ui.paginations .item { display: inline-block; zoom: 1; *display: inline; position: relative; padding: .5em .5em 0.333em; text-align: center; vertical-align: top; color: rgba(0, 0, 0, 0.85); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 0.2857rem; font-size: 14px; }
.ui.paginations .item:before { position: absolute; content: ''; top: 0%; left: 0px; width: 1px; height: 100%; }
.ui.paginations .item.active { box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.85) inset; }
.ui.paginations .item.previous { position: absolute; left: 0; top: 0; }
.ui.paginations .item.next { position: absolute; right: 0; top: 0; }

.ui.search { width: 100%; font-size: 0; }
.ui.search .ui.input { border-radius: 0.2857rem 0 0 0.2857rem; }
.ui.search .ui.button { margin-left: -1px; border-radius: 0 0.2857rem 0.2857rem 0; }

.ui.header, h6.ui.header { margin: 0.833em 0; font-size: 1.167em; font-weight: 700; }

h1.ui.header { margin: 0.833em 0; font-size: 2em; font-weight: 700; }

h2.ui.header { margin: 0.833em 0; font-size: 1.833em; font-weight: 700; }

h3.ui.header { margin: 0.833em 0; font-size: 1.667em; font-weight: 700; }

h4.ui.header { margin: 0.833em 0; font-size: 1.5em; font-weight: 700; }

h5.ui.header { margin: 0.833em 0; font-size: 1.333em; font-weight: 700; }

.ui.form { position: relative; width: 100%; }
.ui.form .field { clear: both; margin: 0 0 0.833em; }
.ui.form .field > label { display: block; margin-bottom: 0.417em; font-weight: 700; font-size: 1em; }
.ui.form .ui.input { width: 100%; vertical-align: top; }

.ui.checkbox { position: relative; display: inline-block; zoom: 1; *display: inline; padding: 0 0 0 1.667em; font-size: 12px; }
.ui.checkbox input[type="checkbox"], .ui.checkbox input[type="radio"] { position: absolute; left: 0; top: 0; width: 17px; height: 17px; cursor: pointer; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.op-tabs { width: 100%; }

.ui-tabs { position: relative; width: 100%; padding-top: 3.333em; }
.ui-tabs .ui-tab { position: absolute; top: 0; width: 5.833em; padding: .8em 1.1em; text-align: center; font-size: 1.167em; font-weight: bold; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 0.2857rem; }
.ui-tabs .ui-tab.active { border: 1px solid rgba(34, 36, 38, 0.15); border-bottom: 1px solid #fff; border-radius: 0.2857rem 0.2857rem 0 0; }
.ui-tabs .ui-tab1 { left: 0; }
.ui-tabs .ui-tab2 { left: 5.833em; }
.ui-tabs .ui-tab3 { left: 11.667em; }
.ui-tabs .tab-panel { border-top: 1px solid rgba(34, 36, 38, 0.15); }
.ui-tabs .tab-panel.hidden { display: none; }
.ui-tabs .tab-panel.visible { display: block; padding-top: 1.250em; }

.dimd { display: block; overflow: hidden; z-index: 1000; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.8); opacity: 0; -webkit-overflow-scrolling: touch; }
.dimd .dimd-dialog { overflow: hidden; position: relative; width: 600px; margin: 10px auto; border: 1px solid rgba(34, 36, 38, 0.15); border-radius: 0.2857rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.example { padding: 1.667em; }
