.dimd {
	display:block;
	overflow:hidden;
	z-index:1000;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,.8);
	opacity:0;
	-webkit-overflow-scrolling:touch;
	.dimd-dialog {
		overflow:hidden;
		position:relative;
		width:600px;
		margin:10px auto;
		border:$border;
		@include border-radius($border-radius);
		@include box-sizing(border-box);
	}
}