/*******************************
   Form
*******************************/

.ui.form {
	
}
.ui.forms {
	font:{
		size:0;
	}
	/*
	.ui.dropdown {
		@include border-radius($primary-borderradius 0 0 $primary-borderradius);
	}
	.ui.input {
		margin-left:-1px;
		@include border-radius(0);
	}
	.ui.button.search {
		margin-left:-1px;
		@include border-radius(0 $primary-borderradius $primary-borderradius 0);
	}
	*/
}

/*******************************
   Input
*******************************/

.ui.input {
	display:inline-block;
	padding:.8em 1.1em;
	box-shadow:0 0 0 2px rgba(0,0,0,.15) inset;
	color:$primary-color;
	border:0;
	vertical-align:top;
	-webkit-appearance:none;
	@include border-radius($primary-borderradius);
	font:{
		//size:.75em;
		size:12px;
	}
}
.ui.textarea {
	display:inline-block;
	padding:.8em 1.1em;
	min-height:8em;
	max-height:24em;
	height:11em;
	box-shadow:0 0 0 2px rgba(0,0,0,.15) inset;
	color:$primary-color;
	border:0;
	vertical-align:top;
	-webkit-appearance:none;
	line-height:1.2857;
	@include border-radius($primary-borderradius);
	font:{
		//size:.75em;
		size:12px;
	}
	resize:vertical;
}

