.screen-out {
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
	width:0;
	height:0;
	line-height:0;
	font-size:0;
	color:transparent;
}
.img-responsive {
	max-width:100%;
	height:auto;
}
.ellipsis {
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.animated {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
}
.transitioned {
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}