.ui.input {
	display:inline-block;
	zoom:1;
	*display:inline;
	width:auto;
	position:relative;
	padding:.8em 1.1em;
	font-size:12px;
	vertical-align:middle;
	text-align:left;
	color:$font-color;
	@include box-shadow($box-shadow);
	@include border-radius($border-radius);
	@include box-sizing(border-box);
	&::-moz-focus-inner { 
		border:0;
		padding:0;
	}
}
.ui.inputs {
	font-size:0;
}