@import "http://fonts.googleapis.com/earlyaccess/nanumgothic.css";

$font-family:"'Nanum Gothic'";
$font-size:12px;
$font-color:rgba(0,0,0,.85);

$line-height:1.42857;

$border-radius:.2857rem;

$box-shadow:0 0 0 1px rgba(0,0,0,.85) inset;

$border:1px solid rgba(34,36,38,.15);