$image-path:'../img';
$font-path:'../fonts';

$font-gothic:'Nanum Gothic';
$font-color:#333;
$line-height:1.42857;

$border-radius:.2857rem;

$boxshadow:0 0 0 1px rgba(0,0,0,.15) inset;

$webkit:true;
$moz:true;
$ms:true;
$o:true;