// *************************************
//
//		Mini
//
//		author : meraseudev
//		version : 1.0
//
// *************************************

@import "../bourbon/_bourbon";
@import "_variables";
@import "_base";
@import "_icon";
@import "_button";
@import "_mixins";

.controls {
	.seek {
		position:relative;
		width:86%;
		height:5px;
		border:1px solid #494949;
		@include border-radius(15px);
		@include linear-gradient(#535353, #333);
		@include box-shadow(inset 0 -3px 3px #333);
		.slider-range {
			@include border-radius(15px);
			@include linear-gradient(#f4397d, #bd0a4b);
			@include box-shadow(inset 0 -3px 3px #bd0a4b);
		}
		.slider-handle {
			top:-4px;
			left:-4px;
			width:15px;
			height:15px;
			border:1px solid #333;
			@include border-radius(10px);
			@include linear-gradient(#e6e6e6, #d5d5d5);
			@include box-shadow(inset 0 -3px 3px #d5d5d5);
		}
		.icon.circle {
			font:{
				size:2em;
			}
		}
	}
}