/*******************************
   Import
*******************************/

@import "mixin";

/*******************************
   Dimd
*******************************/

.ui.dimd {
	/*
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:200px;
	height:200px;
	margin:auto;
	border:1px solid #000;
	border-radius:.2857rem;
	*/
	z-index:1000;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.85);
}

/*******************************
   Pagination
*******************************/

.ui.paginations {
	display:inline-block;
	font-size:0;
	.item {
		display:inline-block;
		position:relative;
		min-width:1em;
		//padding:0.83em 0.95em;
		//padding:11px 12px;
		padding:.5em .78571em;
		text-align:center;
		//border-top:1px solid $primary-color;
		//border-bottom:1px solid $primary-color;
		vertical-align:middle;
		color:$primary-color;
		@include box-sizing(border-box);
		font:{
			size:12px;
		}
		&:before {
			position:absolute;
			content:'';
			top:0%;
			left:0px;
			width:1px;
			height:100%;
			//background-image:-webkit-gradient(linear, left top, left bottom, from(#333), color-stop(50%,#333), to(#333));
		}
		&:first-child {
			//border-left:1px solid $primary-color;
			//border-radius:5px 0px 0px 5px;
			&:before {
				background-image:none;
			}
		}
		&:last-child {
			//border-right:1px solid $primary-color;
			//border-radius:0px 5px 5px 0px;
		}
	}
	.item.active {
		text-decoration:underline;
		background-color:#eee;
	}
}
.ui.pagination {
	.item {
		display:inline-block;
		position:relative;
		min-width:1em;
		padding:.5em .78571em;
		text-align:center;
		vertical-align:middle;
		color:$primary-color;
		@include box-sizing(border-box);
		@include box-shadow($primary-boxshadow);
		@include border-radius($primary-borderradius);
		font:{
			size:12px;
		}
		&:before {
			position:absolute;
			content:'';
			top:0%;
			left:0px;
			width:1px;
			height:100%;
		}
	}
	.item.previous {
		position:absolute;
		left:0;
		top:0;
	}
	.item.next {
		position:absolute;
		right:0;
		top:0;
	}
	.state {
		position:relative;
		padding:.5em .78571em;
		color:$primary-color;
		font:{
			size:.75em;
		}
	}
	.extra {

	}
	.extra.current {
		margin-right:.75em;
		font:{
			weight:bold;
		}
	}
	.extra.total {
		margin-left:.75em;
	}
}

/*******************************
   List
*******************************/

.ui.list.items {
	overflow:hidden;
	.item {
		position:relative;
		padding:1.5em 0;
		border-bottom:2px solid rgba(0,0,0,.15);
		color:$primary-color;
		font:{
			size:12px;
		}
		.image {
			display:table-cell;
			float:none;
			width:150px;
			height:124px;
			background-color:#27292b;
			background-image:url('#{$image-path}/bg/bg-loader.svg') no-repeat;
			background-position:center;
		}
		.content {
			display:table-cell;
			padding-left:1.5em;
		}
		.header {
			color:$primary-color;
			font:{
				size:16px;
				weight:bold;
			}
		}
		.meta {
			margin-top:.2em;			
		}
		.description {
			padding:.7em 0;
			font:{
				size:14px;
			}
		}
		.extra {
			font:{
				size:14px;
			}
		}
	}
}
.ui.list.card {
	position:relative;
	.item {
		max-width:100%;
		display:block;
		float:left;
		width:290px;
		min-height:0;
		margin:1.2em .75em;
		background-color:#fff;
		@include border-radius($primary-borderradius);
		@include box-shadow($primary-boxshadow);
		color:$primary-color;
		font:{
			size:12px;
		}
		&:after {
			content:'';
			display:block;
			position:absolute;
			top:0;
			background-color:#000;
			@include border-radius(10px);
		}
		.image {
			overflow:hidden;
			position:relative;
			width:290px;
			height:240px;
			@include border-radius($primary-borderradius $primary-borderradius 0 0);
			background-color:#27292b;
			background-image:url('#{$image-path}/bg/bg-loader.svg');
			background-repeat:no-repeat;
			background-position:center;
		}
		.content {
			padding:1em;
			.header {
				line-height:1.33em;
				color:$primary-color;
				font:{
					size:16px;
					weight:bold;
				}
			}
			.description {
				margin-top:.5em;
			}
		}
	}
	@media #{$adaptive-tablet-large} {
		.item {
			float:none;
		}
	}
}

$tablet-slider-group:4;
$tablet-width:800px;
.slider-tablet.slider#{$tablet-slider-group} {
	@for $i from 4 through 20 {
		@if($i%4 == 0) {
			.item:nth-child(#{$i}n-3) {
				&:after {
					left:($i - $tablet-slider-group) * 7px;
					width:10px;
					height:10px;
				}
			}
			@if($i > 4) {
				.item.active:nth-child(#{$i}n-3) {
					&:after {
						left:($i - $tablet-slider-group) * 7px - 10px;
						top:-5px;
						width:20px;
						height:20px;
					}
				}
			} @else {
				.item.active:nth-child(#{$i}n-3) {
					&:after {
						top:-5px;
						width:20px;
						height:20px;
					}
				}
			}
		}
	}
}
/*******************************
   Message
*******************************/

.ui.message {
	display:table;
	width:100%;
	padding:.8em 1.1em;
	color:$primary-color;
	@include border-radius($primary-borderradius);
	@include box-sizing(border-box);
	@include box-shadow($primary-boxshadow);
	font:{
		size:1em;
	}
	.header {
		display:block;
		font:{
			size:1.1em;
			weight:bold;
		}
	}
}

/*******************************
   DropDown
*******************************/

.ui.dropdown {
	display:inline-block;
	min-width:100px;
	padding:.8em 1.1em;
	box-shadow:0 0 0 2px rgba(0,0,0,.15) inset;
	color:$primary-color;
	-webkit-appearance: none;
	//margin:0 1.2em 0 0;
	border:0;
	outline:0;
	vertical-align:top;
	font:{
		//size:.75em;
		size:12px;
	}
	word-wrap:break-word;
	//background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");	
	//background-repeat:no-repeat;
	//background-position:right center;
	//background-size:16px 16px;
	background-color:#fff;
	@include border-radius($primary-borderradius);
}

