/*
                      __________ .__                       
  ____    ____    ____ \______   \|__|  ____   ____   ____  
 /  _ \  /    \ _/ __ \ |     ___/|  |_/ __ \_/ ___\_/ __ \ 
(  <_> )|   |  \\  ___/ |    |    |  |\  ___/\  \___\  ___/ 
 \____/ |___|  / \___  >|____|    |__| \___  >\___  >\___  >
             \/      \/                    \/     \/     \/ 

Version: 1.0.0
Author: meraseudev <meraseudev@gmail.com>

*/
@import "../bourbon/_bourbon";
@import "_mixins_customize";
@import "_variables";
@import "_theme";
@import "_base";
@import "_icon";
@import "_button";
@import "_input";


@import "_table";
@import "_pagination";
@import "_search";
@import "_header";
@import "_form";
@import "_checkbox";
@import "_tab";
@import "_dimd";

.example {
	padding:1.667em;
}
